body{
  margin: 0;
}

iframe{
  border: 0;
}

.top-pane{
  background-color: hsl(255, 6%, 25%);
}

.pane{
  height: 50vh;
  display: flex;
}
 
.editor-container{
  flex-grow: 1;  /* make the dive grow so that it covers entire space*/
  flex-basis: 0; /* so that all 3 divs are exaclty of the same size that'll make it easier to work with everything */
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: hsl(255, 6%, 25%);
  overflow: hidden;
}
/* 
.editor-container .CodeMirror{
  height: 45vh;
  border-radius: 12px;
} */

.CodeMirror{
  height: 100% !important;
}

.code-mirror-wrapper{
  flex-grow: 1;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  overflow: hidden;
}
.editor-container.collapsed{
  flex-grow: 0.2;
}

.expand-collapse-btn{
  margin-left: .5rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;

}
.editor-title{
  display: flex;
  justify-content: space-between;
  background-color: hsl(255, 6%, 13%);
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

